# Ignore cache / venv files

# Virtual environment
fitness_env/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# System files
.DS_Store

# Large media files
videos/
songs/
music/songs/
*.mp4
*.mp3
*.wav

food_log.json
rest_days.json
session_log.json
user_profile.json
weight_log.json
streak.json
user_goals.json
goals_vals.json
custom_targets.json